GOOGLE_API_KEY="the Api key for the Google Search Api"
GOOGLE_CX="the cx key for the Google Search Api"
GOOGLE_SEARCH_URL="https://www.googleapis.com/customsearch/v1"

LLM_COORDINATOR_MODEL="the model id"
LLM_COORDINATOR_BASE_URL="the base url"
LLM_COORDINATOR_API_KEY="the api key"

LLM_SUBAGENT_MODEL="the model id"
LLM_SUBAGENT_BASE_URL="the base url"
LLM_SUBAGENT_API_KEY="the api key"

LLM_PLANNER_MODEL="the model id"
LLM_PLANNER_BASE_URL="the base url"
LLM_PLANNER_API_KEY="the api key"

LLM_SUBTASKS_MODEL="the model id"
LLM_SUBTASKS_BASE_URL="the base url"
LLM_SUBTASKS_API_KEY="the api key"